<header class="color-principal">
  <div class="contenedor">
    <h1>
      <i class="medium material-icons">assignment</i>Mis Tareas</h1>
    <input type="checkbox" id="menu_bar" *ngIf="id!=null" />
    <label for="menu_bar" *ngIf="id!=null">
      <i class="large material-icons">menu</i>
    </label>
    <nav class="color-secundario menu" *ngIf="id!=null">
      <a routerLink="/tasks" routerLinkActive="active" >Nueva Tarea</a>
      <a routerLink="/panding-tasks" routerLinkActive="active" >Tareas Pendientes</a>
      <a routerLink="/finish-tasks" routerLinkActive="active" >Tareas Finalizadas</a>
      <a (click)="logout()" class="logout">Cerrar Sesión</a>
    </nav>
  </div>
</header>