<form class="sing-in" (ngSubmit)="sendRegister()">
  <h1 class="title_form">Regístro</h1>
  <input type="text" maxlength="100" [(ngModel)]="user.name" name="name" class="field-form capitalize" required>
  <label class="lbl-form">Nombres</label>
  <input type="text"  maxlength="100" [(ngModel)]="user.lastName" name="lastName" class="field-form capitalize" required>
  <label class="lbl-form">Apellidos</label>
  <input type="text"  maxlength="100" [(ngModel)]="user.email" name="email" class="field-form lowerCase" required>
  <label class="lbl-form">Correo electronico</label>
  <input type="password" maxlength="16" [(ngModel)]="user.password" name="password" class="field-form" required>
  <label class="lbl-form">Contraseña</label>
  <input type="password"  maxlength="16" [(ngModel)]="password_two" name="password_two" class="field-form" required>
  <label class="lbl-form">Repita su contraseña</label>
  <p class="message-error small">{{validation.text}}</p>
  <input type="submit" class="btn"  value="registrarme">
  <p class="message-success small">{{message_success}}</p>
  <a class="link" href="#/login">Iniciar Sesión</a>
  
</form>