
<form class="sing-in" (ngSubmit)="updatePassword()">
    <h1 class="title_form">Cambiar contraseña</h1>
 
    <label class="lbl-form">Contraseña Actual</label>
    <input type="password" [(ngModel)]="password_current" name="password_current" class="field-form" required>
    

    <label class="lbl-form">Contraseña Nuevo</label>
    <input type="password" [(ngModel)]="password" name="password" class="field-form" required>
    
    <label class="lbl-form">Repita su contraseña nueva</label>
    <input type="password" [(ngModel)]="password_two" name="password_two" class="field-form" required>
    
    <p class="message-error small">{{validation.text}}</p>
    <input type="submit" class="btn"  value="cambiar">
    <p class="message-success small">{{message_success}}</p>
    
  </form>