<app-header></app-header>
<div class="contenedor list-task">
  <table>
    <caption>Tareas Pendientes</caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Responsables</th>
        <th scope="col">Cierre Hasta</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of allTasks | pendings:true ">
        <td data-label="Nombre">{{task.name}}</td>
        <td data-label="Descripcion">{{task.description}}</td>
        <td data-label="Responsables">{{task.responsibles}}</td>
        <td data-label="Cierre Hasta">{{task.deadline_completion}}</td>
        <td data-label="Acciones"><input type="button" class="btn" value="Finalizar"></td>
      </tr>
    </tbody>
  </table>
</div>
