
<form class="task-form row" (ngSubmit)="sendRegister()">
  <div class="col-12">
    <h1 class="title_form">Nueva Tarea</h1>
  </div>

  <div class="col-6">
    <label class="lbl-form">Nombre</label>
    <input type="text" maxlength="100" [(ngModel)]="task.name" name="name" class="field-form text-uppercase" required>
  </div>

  <div class="col-6">
      <label class="lbl-form">Fecha de finalización</label>
      <input type="text" [ngModel]="task.deadline_completion | date:'MM/dd/yyyy'" (ngModelChange)="task.deadline_completion=$event"  id="datepicker" name="deadline_completion" class="field-form" required>
    </div>

  <div class="col-6">
    <label class="lbl-form">Descripción</label>
    <textarea maxlength="500" [(ngModel)]="task.description" name="description" class="field-form" required></textarea>
  </div>

  <div class="col-6">
    <label class="lbl-form">Responsables</label>
    <select [(ngModel)]="task.responsibles" id='responsibles' multiple='multiple' name="responsibles" class="field-form lowerCase" required>
        <option class="capitalize">Jhonatan Plata</option>
        <option class="capitalize">Pedro Perez</option>
        <option class="capitalize">Alvaro Mendoza</option>
        <option class="capitalize">Ruth Martinez</option>
       </select>

  </div>


  <div class="col-9">
      <p class="message-error small">{{validation.text}}</p>
      <p class="message-success small">{{message_success}}</p>
  </div>
  <div class="col-3">
    <input type="submit" class="btn" value="Guardar">
    
  </div>

</form>