.task-form{
    width: 1000px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}


header label{
    float: right;
    margin: 15px 0;
    cursor: pointer;
}

header h1{
    margin: 15px 0;
}


header .contenedor{
    display: table;
}

